.about-us-container {
	h1 {
		color: #71535c;
	}
	
	blockquote {
		border: none;
	}

	blockquote h1 {
		font-family: "Raleway";
		color: #aa7455;
		font-size: 200%;
    	letter-spacing: 5px;
	}

	.cert {
		margin-top: 10px;
	}
}